#!/bin/bash

export PROJECT_ROOT=$(expand_path .)
export BUILD_DIR=${PROJECT_ROOT}/build
export CONFIG_DIR=${PROJECT_ROOT}/config
export TOOL_DIR=${PROJECT_ROOT}/tools
export LIB_DIR=${PROJECT_ROOT}/libs
export APP_DIR=${PROJECT_ROOT}/apps
export METRICS_DIR=${PROJECT_ROOT}/metrics

pythonpath_add() {
    export PYTHONPATH="${PROJECT_ROOT}/$1:${PYTHONPATH}"
}

PATH_add tools/devtools
PATH_add /home/$USER/.local/bin

pythonpath_add .
pythonpath_add tools/devtools/src
